PUBLIC_URL=https://code.leoustc.com

OAUTH2_PROVIDER=github
OAUTH2_CLIENT_ID=Iv1.6a7b9a1e29c53fa0
OAUTH2_CLIENT_SECRET=7c91394b587e3bba240af1d4cc4f22c84937ff92

COOKIE_SECRET=Z1dXu72lqRTy8KN5AOHCB9Qv5Xe6jfVd
ALLOWED_EMAILS=someone@gmail.com,user@examples.com,user2@goo.com
ALLOWED_DOMAINS=example.com,leoustc.com

UPSTREAM_URL=http://192.168.10.11:3001
NGINX_CONFIG_EXTRAS=""